<!DOCTYPE html> 

<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">

            <p> Page is not found </p>
            <p> Sorry about that </p>
            <p> by Ray</p>
        </div>
    </body>

</html>